:root {
    --black: #000000;
    --blue1: #1B02A4;
    --blue2: #0017FF;
    --blue3: #0043FF;
    --gray: #B8B8B8;
    --bone: #E1E2E5;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
}

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    border-bottom: 1px solid var(--orange);

}
.nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/*W3C CSS*/
.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}