@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #000000;
    --blue1: #1B02A4;
    --blue2: #0017FF;
    --blue3: #0043FF;
    --gray: #B8B8B8;
    --bone: #E1E2E5;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: var(--bone);
}

body {
    background-color: var(--black);
    text-align:center !important;
    font-family: 'Inter';
}

p {
    color: var(--gray);
}

nav{
    width: 100%;
    color: var(--gray);
    overflow: hidden;
    display: flex;
}

nav ul {
    justify-content: center;
    width: 100%;
    display: flex;
    list-style: none;
    gap: 20px;
}

nav li{
    padding: 15px 50px;
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

nav a {
    color: var(--gray);
    text-decoration: none;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, var(--blue1) 0%, var(--black) 80%);
    background: radial-gradient(ellipse at center, var(--blue1) 0%, var(--black) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

nav li:hover, nav li:active, nav li:focus{
    transform: translateY(-5px);
}
nav li:hover:before, nav li:active:before, nav li:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}

.pbs {padding-bottom: 10px;}
.pbm {padding-bottom: 20px;}
.pbl {padding-bottom: 50px;}

.grid-container {
    display: grid;
    place-items: center;
    padding: 3rem;
}
.grid-item {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.card {
    color: var(--gray);
}

